textarea, input[type="text"], fieldset.elist ul, select, fieldset.elist > legend {
  border: 1px #cccccc solid;
  border-radius: 5px;
}

input[type="text"], fieldset.elist, select, fieldset.elist > legend {
  height: 22px;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  font-style: normal;
}

input[type="text"]:hover, textarea:hover, select:hover, fieldset.elist:hover > legend {
  background-color: #ddddff;
}

input[type="text"], fieldset.elist {
  width: 100px;
}

input[type="text"]:focus {
  background: #ffcccc no-repeat 2px center !important;
}

input[type="text"]:focus, textarea:focus, select:focus, fieldset.elist > legend {
  border: 2px #ccaaaa solid;

}

html {
  text-align: center;
  font-family: monospace;
}
body
    {
        width:70%;
        margin-left:auto;
        margin-right:auto;
        background-color: #E0E0E0;
        font-family: monospace;
        font-size: 12px;
        width:800px;
        display: inline-block;
        margin: 20px auto;
        text-align: center;
    }
  
td{
  font-family: calibri;
  font-size: 12px;
  text-align: left;

}
th{
  font-family: monospace;
  font-size: 12px;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0 2px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5;
  padding-left: 5;
  text-align: left;
 }

td:first-child { width: 20px  }
td:first-child + td {  width: 20px }
td:first-child + td + td  {  width: 250px }
td:first-child + td + td + td {  width: 200px }
td:first-child + td + td + td + td{  width: 100px }
td:first-child + td + td + td + td + td{  width: 160px }

form {
    padding: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    align-items: center;
    align-content: center;

}
input[type="submit"]
{
  
  border-radius: 2px;
  color: black;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  background-color: #4CAF50; /* Green */
  
}

.modal-alert {
    position:  fixed;
    top:  -100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:  99999;
    width:  100%;
    height:  100%;
}
.modal-alert > .message {
    width:  230px;
    padding:  10px;
    border-radius: 5px;
    background:  #f68542;
}